@import "components/reset.scss";
@import "components/navbar.scss";
@import "components/burger.scss";
@import "components/button.scss";
@import "components/form.scss";
@import "components/animations.scss";
@import "components/loader.scss";

main {
	margin-top: calc(var(--navbar-height) + 24px);
}
h1 {
	padding-left: 20px;
}
@media screen and (min-width: 600px) {
	h1 {
		padding-left: 0;
	}
}
