@import "components/reset.scss";
@import "components/animations.scss";
@import "components/loader.scss";
@import "components/button.scss";
@import "components/form.scss";
@import "components/appNavbar.scss";

html {
	background-color: var(--light-bg);
}
.app-account {
	width: 100%;
	max-width: 400px;
	margin-top: 85px;
}
.app-account h1 {
	padding-left: 12px;
	margin-bottom: 4px;
}
.app-account li {
	list-style: none;
}
.app-account a {
	display: flex;
	gap: 4px;
	background-color: var(--light-box);
	margin-left: 12px;
	padding: 16px;
	border-radius: var(--border-radius);
}
.app-account li:last-child {
	margin-top: 12px;
}
.app-account a {
	text-decoration: none;
	color: inherit;
}
@media screen and (min-width: 600px) {
	.app-account h1 {
		text-align: left;
	}
	.app-account {
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 950px) {
	.app-account {
		margin-top: 12px;
	}
	.app-account {
		background-color: var(--light-box);
		border-radius: var(--border-radius);
		padding: 32px 16px;
		box-shadow: var(--white-card-shadow);
		margin-top: 32px;
		margin-left: auto;
		margin-right: auto;
	}
	.app-account li {
		background-color: var(--light-bg);
	}
	.app-account a {
		background-color: var(--light-bg);
	}
	.app-account li {
		border: var(--light-border);
		border-radius: var(--border-radius);
	}
}
