@import "components/reset.scss";
@import "components/animations.scss";
@import "components/loader.scss";
@import "components/form.scss";
@import "components/button.scss";

.main-title {
	width: 100%;
	padding: 12px;
	padding-top: 32px;
	padding-bottom: 0;
	padding-left: 32px;
	font-size: 1.2rem;
}
form {
	padding-top: 0;
}
form small {
	padding-left: 6px;
}
form h2 {
	font-size: 1.2rem;
	padding-top: 6px;
}
button {
	margin-top: 16px;
	margin-bottom: 12px;
}
@media screen and (min-width: 600px) {
	.main-title {
		padding-left: 0;
	}
}
@media screen and (min-width: 700px) {
	.main-title {
		font-size: 2rem;
		width: 70%;
		margin: 16px auto;
		margin-top: 28px;
		padding: 0;
	}
	form {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	form h2 {
		padding-top: 0;
	}
}
