@import "components/reset.scss";
@import "components/loader.scss";
@import "components/animations.scss";
@import "components/form.scss";
@import "components/custom_form.scss";
@import "components/button.scss";
@import "components/input.scss";
@import "components/footer.scss";

main h1 {
	padding-left: 32px;
	font-size: 1.5rem;
}
form {
	padding-top: 0;
}
form h2 {
	font-size: 1rem;
}

@media screen and (min-width: 700px) {
	main h1 {
		font-size: 3rem;
	}
	legend h2 {
		font-size: 1.48rem;
	}
	form {
		padding-top: 32px;
	}
}
