@import "components/reset.scss";
@import "components/animations.scss";
@import "components/loader.scss";
@import "components/cards.scss";
@import "components/button.scss";
@import "components/footer.scss";
main {
	padding: 16px 32px;
}
main > h1:first-child {
	font-size: 1.5rem;
}
img {
	border-radius: var(--border-radius);
}
.simple-btn {
	margin-top: 24px;
	margin-bottom: 12px;
}
.loan-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 24px;
}
.loan-content {
	width: 100%;
}
.loan-content h1 {
	margin: 12px 0;
	font-size: 1.2rem;
}
.loan-content ul {
	padding-left: 24px;
}
.ancle-btn {
	margin-top: 0;
	margin-right: 20px;
}
@media screen and (min-width: 400px) {
	.loan-content {
		max-width: 400px;
	}
}
@media screen and (min-width: 650px) {
	.loan-content {
		box-shadow: var(--white-card-shadow);
		padding: 32px;
		border-radius: var(--border-radius);
	}
}
@media screen and (min-width: 700px) {
	main > h1:first-child {
		margin: 16px;
		font-size: 3rem;
	}

	.loan-container {
		gap: 48px;
		margin: 12px 0;
	}
	.loan-content h1 {
		font-size: 1.6rem;
	}
	.loan-content h4 {
		margin-top: 12px;
	}
	.loan-content img {
		margin-bottom: 12px;
	}
	.loan-content > h1 {
		padding-bottom: 12px;
		margin: 4px 0;
	}
	.loan-content {
		padding-top: 16px;
		padding-bottom: 16px;
		max-width: 350px;
	}
}
