@import "components/reset.scss";
@import "components/animations.scss";
@import "components/loader.scss";
@import "components/button.scss";
html {
	background-color: var(--light-bg);
}
nav {
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	border-bottom: var(--light-border);
}
aside {
	padding: 12px 24px;
}
aside li {
	list-style: none;
}
aside li:not(:last-child) {
	margin: 8px 0;
}
.logo {
	padding: 12px;
	padding-bottom: 0;
	display: flex;
	align-items: baseline;
	gap: 4px;
	flex-grow: 1;
	color: var(--btn-bg);
}

.logo h1 {
	font-size: 1.1rem;
	margin: 0;
	padding-bottom: 0;
	padding-left: 6px;
	text-align: left;
	width: fit-content;
	cursor: pointer;
}

.group-control {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
}

.group-control span,
.logout {
	color: var(--btn-disabled);
	width: fit-content;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
span.group-control-active,
.group-control span:active {
	color: var(--btn-bg);
}
nav {
	background-color: var(--light-box);
}
main {
	margin-top: 77px;
}
.welcome {
	max-height: 85px;
	padding: 16px;
	padding-left: calc(16px + 4px);
	background-color: var(--light-box);
	margin-bottom: 28px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 8px;
}
.welcome img {
	width: 48px;
	border-radius: 50%;
}
.welcome figcaption {
	display: flex;
	align-items: center;
}
.welcome h1 {
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 0;
}
.account {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--border-radius);
	background-color: var(--light-box);
	padding: 16px;
	padding-bottom: 0;
	box-shadow: var(--box-shadow);
}
.account-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.account-data h2,
.account-balance span {
	font-size: 1.5em;
}
.account-data h2 {
	padding-bottom: 8px;
}
.account-balance {
	display: flex;
	flex-direction: column;
	text-align: right;
}
.account-balance span {
	width: fit-content;
	margin-left: auto;
	color: var(--btn-bg);
	cursor: pointer;
}
.account-balance small {
	margin-top: 20px;
}
.group-btn {
	margin-top: 40px;
}
.simple-btn {
	height: var(--btn-height);
	padding-top: 8px;
	margin-bottom: 0;
}
.simple-btn small {
	width: fit-content;
	cursor: pointer;
	padding: 8px;
}
.accounts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, auto));
	gap: 24px;
	place-content: center;
	place-items: center;
}
.account:last-child {
	grid-column: 1/-1;
	max-width: 400px;
}
@media screen and (min-width: 350px) {
	.welcome {
		display: flex;
		gap: 12px;
	}
}
@media screen and (min-width: 750px) {
	div.next-account {
		display: block;
	}
}
@media screen and (min-width: 950px) {
	html {
		background-color: var(--light-box);
	}
	.welcome {
		margin: 0;
	}
	nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: 60px;
		place-content: center;
		padding: 0 20px;
	}
	.logo {
		text-align: left;
	}
	.logout {
		width: 100%;
		text-align: right;
	}
	main {
		margin-top: 60px;
		display: grid;
		grid-template-columns: minmax(150px, 15%) 1fr;
		place-content: center;
		place-items: center stretch;
	}
	.group-control {
		display: none;
	}
	.accounts {
		grid-column: 2/-1;
	}

	span.logout {
		display: block;
		padding: 12px;
	}
	aside.aside {
		display: block;
	}
}
@media screen and (min-width: 1350px) {
	.accounts {
		grid-template-columns: repeat(auto-fill, minmax(360px, auto));
	}
	.account:last-child {
		grid-column: auto;
	}
}
