@import "components/reset.scss";
@import "components/animations.scss";
@import "components/loader.scss";
@import "components/button.scss";
@import "components/form.scss";
@import "components/appNavbar.scss";

html {
	background-color: var(--light-bg);
}

main {
	margin-top: 77px;
}
.welcome {
	max-height: 85px;
	padding: 16px;
	padding-left: 20px;
	background-color: var(--light-box);
	margin-bottom: 12px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 8px;
}
.welcome img {
	width: 48px;
	border-radius: 50%;
}
.welcome figcaption {
	display: flex;
	align-items: center;
}
.welcome h1 {
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 0;
}
.account {
	width: 90%;
	margin: 12px auto 0 auto;
	border-radius: var(--border-radius);
	background-color: var(--light-box);
	padding: 16px;
	padding-bottom: 0;
	box-shadow: var(--box-shadow);
	max-width: 340px;
}
.account-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.account-data h2,
.account-balance span {
	font-size: 1.5em;
}
.account-data h2 {
	padding-bottom: 8px;
}
.account-balance {
	display: flex;
	flex-direction: column;
	text-align: right;
}
.account-balance span {
	width: fit-content;
	margin-left: auto;
	color: var(--btn-bg);
	cursor: pointer;
}
.account-balance small {
	margin-top: 20px;
}
.group-btn {
	margin-top: 40px;
}
.simple-btn {
	height: var(--btn-height);
	padding-top: 8px;
	margin-bottom: 0;
}
.simple-btn small {
	width: fit-content;
	cursor: pointer;
	padding: 8px;
}

.account:last-child {
	grid-column: 1/-1;
	max-width: 400px;
}
.finances-data {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.dashboard {
	width: 90%;
	max-width: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--light-box);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	padding: 16px;
	margin: auto;
}
.plano {
	display: grid;
	grid-template-columns: repeat(2, auto);
	place-content: start;
	border-radius: var(--border-radius);
}
.dashboard h3 {
	margin-bottom: 8px;
}
.plano-cash {
	width: max-content;
	padding-left: 4px;
}
.plano-cash::after {
	content: "";
	position: absolute;
	height: 118px;
	margin-left: 8px;
	border: var(--light-border);
}
.plano-cash small {
	font-size: 0.5rem;
}
.plano-bars {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 16px;
	margin-left: 8px;
	padding-left: 8px;
}

.plano-bars-group {
	max-width: 30px;
	height: 22vh;
	width: 10%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.plano-months {
	background-color: var(--bars-bg);
	height: 100%;
	border-radius: 4px;
}
.plano-bars-group:nth-child(1) {
	height: 100%;
}
.plano-bars-group:nth-child(2) {
	height: 40%;
}
.plano-bars-group:nth-child(3) {
	height: 50%;
}
.plano-bars-group:nth-child(4) {
	height: 30%;
}
.plano-bars-group:nth-child(5) {
	height: 40%;
}
.plano-bars-group:nth-child(2) {
	height: 80%;
}
.month-finances {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
	margin-bottom: 20px;
	max-width: 350px;
}
.month-finances-title {
	padding-left: 12px;
	grid-column: 1/-1;
	text-align: center;
	padding-right: 12px;
	margin-top: 6px;
}
.month-finances > div {
	padding: 12px 16px;
	background-color: var(--light-box);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}
.month-finances small {
	font-weight: bold;
	color: rgb(85, 85, 85);
}
.app-payments {
	margin-top: 16px;
}
.app-payments form {
	padding-top: 0;
}
.app-payments h1 {
	text-align: center;
	font-size: 2rem;
	margin: 4px;
	padding-top: 12px;
}
@media screen and (min-width: 350px) {
	.welcome {
		display: flex;
		gap: 12px;
	}
}
@media screen and (min-width: 500px) {
	.dashboard,
	.account {
		max-width: 350px;
	}

	.plano-cash small {
		font-size: 0.9rem;
	}
}
@media screen and (min-width: 750px) {
	div.next-account {
		display: block;
	}
	.accounts {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(370px, auto));
		gap: 24px;
		place-content: center;
		place-items: center;
	}
}
@media screen and (min-width: 950px) {
	html {
		background-color: var(--light-box);
	}
	.account,
	.dashboard,
	.month-finances div {
		box-shadow: var(--white-card-shadow);
	}

	.month-finances,
	.dashboard {
		width: 100%;
	}
	.app {
		flex-grow: 1;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
	}
	.welcome {
		margin: 0;
		flex-grow: 1;
		grid-column: 1/-1;
	}
	main {
		margin-top: 60px;
		display: flex;
	}
	.group-control {
		display: none;
	}
	.accounts {
		grid-column: 1/-1;
	}

	a.logout {
		display: block;
		padding: 12px;
	}
	aside.aside {
		min-width: 200px;
		width: 15%;
		display: block;
	}

	.month-finances {
		max-width: 250px;
		margin: auto 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 6px;
	}
	.month-finances div:last-child {
		margin-top: 8px;
	}
	.finances-data {
		grid-column: 1/-1;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: 16px;
		margin-top: 4px;
		padding-left: 3rem;
		padding-top: 1.8rem;
	}
	.dashboard {
		margin: 0;
	}
}
@media screen and (min-width: 1350px) {
	.accounts {
		display: flex;
		padding: 0 32px;
	}
	.account:last-child {
		grid-column: auto;
	}
}
