@import "reset.css";
@import "navbar.css";
main {
	margin-top: calc(var(--navbar-height));
}
.main-title {
	width: 80%;
	padding-left: 24px;
	padding-top: 32px;
	font-size: 1.3rem;
}
.form {
	margin-top: 12px;
}
@media screen and (min-width: 600px) {
	.main-title {
		width: 100%;
		text-align: center;
		padding: 28px 0;
		padding-bottom: 28px;
		text-align: center;
		font-size: 2rem;
	}
	main {
		background-color: rgb(245, 245, 245);
	}
	footer {
		background-color: rgb(245, 245, 245);
	}
}
