@import "reset.css";
@import "navbar.css";

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--navbar-height);
}
main > h1 {
	margin: 32px 0;
	padding-right: 16px;
	width: 100%;
	padding-left: 4px;
}
.loan-container {
	display: flex;
	flex-direction: column;
}
.loan-content :is(h1, h3) {
	margin: 8px 0;
	padding-left: 4px;
}
.loan-content :is(h4) {
	margin: 4px 0;
	padding-left: 4px;
}
.loan-content ul {
	margin: 8px 0;
}
.loan-content li {
	padding-left: 20px;
	list-style: inside;
}
.loan-content a {
	display: block;
	text-align: right;
	padding-right: 4px;
	margin: 12px 0;
}
@media screen and (min-width: 600px) {
	.loan-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, auto));
		gap: 16px;
		padding: 0 12px;
	}
	main > h1 {
		padding: 0 32px;
	}
	.loan-content {
		border: var(--light-border);
		border-radius: var(--border-radius);
		padding: 12px 24px;
	}
	.loan-content h1 {
		font-size: 1.5rem;
	}
	.loan-content li {
		margin-left: 24px;
		padding-left: 0;
	}
	.loan-content img {
		border-radius: var(--border-radius);
	}
}
