@import "reset.css";
@import "navbar.css";
main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.advices-container {
	display: none;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--main-bg);
	color: var(--main-fg);
	padding: 40px;
}
.advices-container figure {
	margin-top: var(--navbar-height);
}
.advices-container img {
	max-width: 260px;
	display: none;
}
.advices-container h4 {
	margin: 12px 0;
}
.advices-container li:not(:first-child) {
	margin: 12px 0;
}
.register-form {
	width: 100%;
	max-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: var(--border-radius);
	padding: 32px;
}
.register-form fieldset {
	width: 100%;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.register-form input:nth-child(2) {
	margin-top: 12px;
}
.register-form input {
	border: var(--light-border);
	border-radius: var(--border-radius);
	padding: 12px;
	height: var(--btn-height);
}
.error-group {
	width: 90%;
	color: var(--error-fg);
	height: 0;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out;
}
.error-active {
	height: fit-content;
	margin: auto;
	visibility: visible;
	opacity: 1;
}
.error-active li:last-child {
	margin-bottom: 8px;
}
.register-form button {
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	.register-form button:hover {
		background-color: var(--btn-hover);
	}
	.register-form a:hover {
		text-decoration: underline;
	}
}
.register-form-expanded {
	margin-top: calc(var(--navbar-height) * 2 + 16px);
}
.group-date {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.group-date input {
	width: 100%;
}
.register-form-expanded a {
	text-decoration: none;
	color: var(--blue-fg);
	font-weight: bold;
}
@media screen and (min-width: 600px) {
	.register-form {
		width: 80%;
		border: var(--light-border);
	}
	.register-form-expanded {
		border: none;
	}
}
@media screen and (min-width: 900px) {
	main {
		display: grid;
		grid-template-columns: 2fr 1.5fr;
	}
	.main-expanded {
		grid-template-columns: auto;
		place-content: center;
		place-items: center;
		padding-top: var(--navbar-height);
	}
	.advices-container {
		display: flex;
	}
	.register-form-expanded {
		border: var(--light-border);
		max-width: 750px;
		width: 100vw;
		margin: 0;
	}
	.register-form-expanded legend {
		height: fit-content;
	}
	.register-form-expanded fieldset {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 16px;
		place-items: end;
	}
	.register-form-expanded input {
		width: 100%;
	}
	.group-date {
		grid-column: 1/-1;
	}
	.register-form-expanded button:last-child {
		max-width: 500px;
		margin-left: auto;
		width: 60%;
		padding: 16px;
		margin-top: 16px;
	}
	.register-form-expanded a {
		margin-right: auto;
	}
}
@media screen and (min-width: 1200px) {
	.advices-container img {
		display: block;
	}
}
body .hidden {
	display: none;
}
