:root {
	--main-bg: hsl(224, 100%, 60%);
	--main-fg: rgb(255, 255, 255);
	--main-box-bg: hsl(224, 100%, 20%);
	--input-focus: hsl(0, 0%, 95%);
	--btn-bg: hsl(224, 100%, 60%);
	--btn-disabled: hsl(0, 0%, 57.6%);
	--btn-disabled-hover: hsl(0, 0%, 65%);
	--btn-bg: hsl(224, 100%, 60%);
	--btn-hover: hsl(224, 100%, 54%);
	--btn-ancle-hover: hsl(224, 100%, 65%);
	--btn-fg: rgb(255, 255, 255);
	--gray-fg: hsl(0, 0%, 40%);
	--blue-fg: hsl(224, 100%, 20%);
	--input-blue-fg: hsl(224, 100%, 30%);
	--btn-dark-bg: hsl(91, 100%, 33%);
	--btn-dark-hover: hsl(91, 100%, 40%);
	--blue-border: 1px solid hsl(224, 100%, 40%);
	--bar-loader-bg: hsl(194, 100%, 53%);
	--span-highlight: red;
	--error-fg: red;
	--btn-height: 48px;
	--border-radius: 8px;
	--light-border-color: hsl(0, 0%, 90%);
	--light-border: 1px solid var(--light-border-color);
	--border-white: 1px solid var(--main-fg);
	--opacity: rgba(0, 0, 0, 0.5);
	--opacity-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
	--navbar-height: 65px;
	--benefit-fg: rgb(25, 126, 0);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
button {
	width: 100%;
	height: var(--btn-height);
	border-radius: var(--border-radius);
	border: none;
	cursor: pointer;
	background-color: var(--btn-bg);
	color: var(--btn-fg);
}
button a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	text-decoration: none;
	color: var(--btn-fg);
}
.btn-disabled {
	background-color: var(--btn-disabled);
	cursor: not-allowed;
}
@media (hover: hover) {
	body button.btn-disabled:hover {
		background-color: var(--btn-disabled-hover);
	}
}
hr {
	color: var(--main-fg);
}
input {
	cursor: pointer;
	outline: none;
	background-color: white;
	transition: background-color 0.25s ease-out;
}
input:focus {
	background-color: var(--input-focus);
}
html {
	font-family: "Nunito Sans", sans-serif;
	color: var(--blue-fg);
}
.select-disabled {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.modal-loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
}
.modal-loader-bar {
	height: 4px;
	top: 0;
	width: 100%;
	position: fixed;
	transform: translateX(-200%);
	transition: opacity 0.3s ease-in-out;
}
.loader-bar-active {
	background-color: var(--main-bg);
	transition: transform 0.3s ease-in-out;
	animation: barLoader 1.7s linear infinite;
}
.loader-bar-disabled {
	opacity: 0;
	visibility: hidden;
}

.form {
	width: 90%;
	padding: 8px;
	max-width: 400px;
	margin: auto;
}

.form fieldset {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.form fieldset {
	border: none;
}
.form :is(input, small, select) {
	width: 100%;
	padding: 12px;
}
.form small {
	padding: 0;
	padding-top: 12px;
}
.form :is(input, select) {
	border: var(--light-border);
	border-radius: var(--border-radius);
	height: var(--btn-height);
}
.form select {
	background-color: white;
	color: rgb(100, 100, 100);
}
.form legend {
	margin: 12px 0;
}
@media screen and (min-width: 600px) {
	.form {
		background-color: white;
		border: var(--light-border);
		border-radius: var(--border-radius);
		padding: 32px;
	}
}
@keyframes barLoader {
	0% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(200%);
	}
}
.table,
.table :is(tr, th, td) {
	border: var(--light-border);
	border-collapse: collapse;
}
.table :is(tr, th, td) {
	text-align: right;
	padding: 4px 12px 4px 0;
	font-size: 0.9rem;
}
footer {
	padding-bottom: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	border: none;
	background-color: var(--main-fg);
	color: rgb(140, 140, 140);
}
footer small {
	margin: 24px 0;
}
.social-group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}
.social-group a {
	text-decoration: none;
	background-color: white;
	padding: 28px;
	border-radius: var(--border-radius);
	font-size: 1.5rem;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(140, 140, 140);
	box-shadow: 0px 6px 0 rgb(220, 220, 220);
	transition-property: transform, color;
	transition: 0.3s ease-in-out;
}
.ancle-btn {
	display: block;
	text-align: right;
	margin: 12px 0;
	color: var(--btn-bg);
	text-decoration: none;
	width: fit-content;
	margin-left: auto;
	transition: color 0.3s ease-in-out;
}
@media (hover: hover) {
	.social-group a:hover {
		transform: translateY(-16%);
		color: var(--btn-bg);
	}
}
body .hidden {
	display: none;
}
body .visible {
	display: block;
	animation: visible 0.3s linear;
}
@keyframes visible {
	from {
		opacity: 0;
		transform: translateY(12%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
h1 {
	width: 100%;
}
@media screen and (min-width: 600px) {
	html {
		background-color: rgb(245, 245, 245);
	}
	footer {
		background-color: rgb(245, 245, 245);
	}
	h1 {
		text-align: center;
		padding-bottom: 16px;
	}
	.form {
		padding-top: 8px;
	}
}
