:root {
	--main-bg: hsl(224, 100%, 60%);
	--main-fg: rgb(255, 255, 255);
	--main-box-bg: hsl(224, 100%, 20%);
	--btn-bg: hsl(224, 100%, 60%);
	--input-focus: hsl(0, 0%, 95%);
	--btn-hover: hsl(224, 100%, 54%);
	--btn-fg: rgb(255, 255, 255);
	--gray-fg: hsl(0, 0%, 40%);
	--blue-fg: hsl(224, 100%, 20%);
	--input-blue-fg: hsl(224, 100%, 30%);
	--btn-dark-bg: hsl(91, 100%, 33%);
	--btn-dark-hover: hsl(91, 100%, 40%);
	--blue-border: 1px solid hsl(224, 100%, 40%);
	--bar-loader-bg: hsl(194, 100%, 53%);
	--span-highlight: red;
	--btn-height: 48px;
	--border-radius: 8px;
	--light-border-color: hsl(0, 0%, 90%);
	--light-border: 1px solid var(--light-border-color);
	--border-white: 1px solid var(--main-fg);
	--opacity: rgba(0, 0, 0, 0.5);
	--opacity-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
	--navbar-height: 65px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
button {
	height: var(--btn-height);
	border-radius: var(--border-radius);
	border: none;
	cursor: pointer;
}
hr {
	color: var(--main-fg);
}
input {
	cursor: pointer;
	outline: none;
}
input:focus {
	background-color: var(--input-focus);
}
html {
	font-family: "Nunito Sans", sans-serif;
	color: var(--blue-fg);
}
.modal-loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
}
.modal-loader-bar {
	height: 4px;
	top: 0;
	width: 100%;
	position: fixed;
	transform: translateX(-200%);
	transition: opacity 0.3s ease-in-out;
}
.loader-bar-active {
	background-color: var(--main-bg);
	transition: transform 0.3s ease-in-out;
	animation: barLoader 1.7s linear infinite;
}
.loader-bar-disabled {
	opacity: 0;
	visibility: hidden;
}
@keyframes barLoader {
	0% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(200%);
	}
}
footer {
	padding: 32px 0;
	background-color: var(--main-box-bg);
	color: var(--main-fg);
	border-top: var(--blue-border);
	text-align: center;
	display: flex;
	flex-direction: column;
}
.professional-contact {
	display: flex;
	flex-direction: column;
	margin: 12px;
	margin-bottom: 0;
}
.professional-contact h5 {
	margin-top: 8px;
	margin-bottom: 0;
}
.professional-contact-content span {
	font-size: 20px;
}
.professional-contact-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	margin-bottom: 4px;
}
.feedback-container {
	width: 80%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
}
.feedback-container textarea {
	margin-top: 8px;
	border-radius: var(--border-radius);
	border: none;
	padding: 12px;
	background-color: var(--input-blue-fg);
	color: var(--main-fg);
	outline: none;
	resize: none;
	transition: box-shadow 0.3s ease-in-out;
}
textarea:focus {
	box-shadow: var(--opacity-shadow);
}
.feedback-container button {
	margin-top: 16px;
	background-color: var(--btn-dark-bg);
	color: var(--btn-fg);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	.feedback-container button:hover {
		background-color: var(--btn-dark-hover);
	}
}
