:root {
  --input-focus: hsl(0, 0%, 95%);
  --main-color: rgb(32, 33, 36);
  --light-bg: rgb(244, 244, 244);
  --light-box: white;
  --bars-bg: rgb(124, 176, 244);
  --loader-bar-fg: rgb(24, 118, 242);
  --header-bg: var(--main-color);
  --header-fg: var(--light-bg);
  --btn-height: 48px;
  --btn-bg: rgb(24, 118, 242);
  --btn-hover: hsl(214, 89%, 60%);
  --btn-fg: rgb(255, 255, 255);
  --btn-disabled: hsl(0, 0%, 60%);
  --btn-disabled-hover: hsl(0, 0%, 70%);
  --bar-loader-bg: hsl(194, 100%, 53%);
  --modal-bg: rgba(0, 0, 0, 0.5);
  --burger-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  --burger-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  --border-radius: 16px;
  --light-border-color: hsl(0, 0%, 90%);
  --light-border: 1px solid var(--light-border-color);
  --navbar-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  --navbar-height: 65px;
  --modal-bg: rgba(0, 0, 0, 0.4);
  --modal-content-bg: white;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  --white-card-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
  	0 1px 3px 1px rgba(60, 64, 67, 0.15);
  --reading-fg: hsl(216, 4%, 23%);
  --benefit-fg: rgb(25, 126, 0);
  --error-fg: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
img {
  width: 100%;
}

html {
  font-family: "Nunito Sans", sans-serif;
  color: var(--main-color);
}

hr {
  color: var(--light-bg);
}

.select-disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html .hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  html {
    background-color: rgb(245, 245, 245);
  }
  footer {
    background-color: rgb(245, 245, 245);
  }
  h1 {
    text-align: center;
    padding-bottom: 16px;
  }
}
@keyframes barLoader {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes bgLoader {
  from {
    background-color: rgba(232, 232, 232, 0.7);
  }
  to {
    background-color: rgba(232, 232, 232, 0.7);
  }
}
@keyframes showUp {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0%);
  }
}
.modal-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  animation: bgLoader 1s ease-in-out infinite;
}

.modal-loader-bar {
  height: 3px;
  top: 0;
  width: 100%;
  position: fixed;
  animation: barLoader 1s ease-in-out infinite;
}

.loader-bar-active {
  background-color: var(--loader-bar-fg);
}

form {
  width: 90%;
  padding: 8px;
  max-width: 400px;
  margin: auto;
  width: 100%;
  max-width: 460px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 32px;
}

form fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
}

form legend {
  width: 100%;
  padding: 4px;
}

form h1 {
  padding: 0;
  text-align: left;
}

form input:nth-child(2) {
  margin-top: 12px;
}

@media (hover: hover) {
  form button:hover {
    background-color: var(--btn-hover);
  }
  form a:hover {
    text-decoration: underline;
  }
}
form :is(input, select) {
  width: 100%;
  padding: 12px;
}

form :is(input, select) {
  border: var(--light-border);
  border-radius: var(--border-radius);
  height: var(--btn-height);
}

form select {
  background-color: var(--light-box);
  color: rgb(100, 100, 100);
}

@media screen and (min-width: 700px) {
  form {
    background-color: var(--light-box);
    box-shadow: var(--box-shadow);
  }
}
button,
button a {
  width: 100%;
  height: var(--btn-height);
}

button {
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

button a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--btn-fg);
}

.btn-disabled {
  background-color: var(--btn-disabled);
  cursor: not-allowed;
}

@media (hover: hover) {
  button.btn-disabled:hover {
    background-color: var(--btn-disabled-hover);
  }
  button:hover {
    background-color: var(--btn-hover);
  }
  .ancle-btn:hover {
    color: var(--btn-hover);
  }
}
.ancle-btn {
  display: block;
  text-align: right;
  margin: 12px 0;
  color: var(--btn-bg);
  text-decoration: none;
  width: fit-content;
  margin-left: auto;
  transition: color 0.3s ease-in-out;
}

.simple-btn {
  display: block;
  margin: 4px 0;
  text-align: center;
  color: var(--btn-bg);
}

.simple-btn a {
  cursor: pointer;
  text-decoration: none;
}

.simple-btn a:visited {
  color: inherit;
}

.main-title {
  width: 100%;
  padding: 12px;
  padding-top: 32px;
  padding-bottom: 0;
  padding-left: 32px;
  font-size: 1.2rem;
}

form {
  padding-top: 0;
}

form small {
  padding-left: 6px;
}

form h2 {
  font-size: 1.2rem;
  padding-top: 6px;
}

button {
  margin-top: 16px;
  margin-bottom: 12px;
}

@media screen and (min-width: 600px) {
  .main-title {
    padding-left: 0;
  }
}
@media screen and (min-width: 700px) {
  .main-title {
    font-size: 2rem;
    width: 70%;
    margin: 16px auto;
    margin-top: 28px;
    padding: 0;
  }
  form {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  form h2 {
    padding-top: 0;
  }
}

/*# sourceMappingURL=custom.css.map */
