:root {
	--main-bg: hsl(224, 100%, 60%);
	--main-fg: rgb(255, 255, 255);
	--main-box-bg: hsl(224, 100%, 20%);
	--btn-bg: hsl(224, 100%, 60%);
	--btn-hover: hsl(224, 100%, 54%);
	--btn-fg: rgb(255, 255, 255);
	--gray-fg: hsl(0, 0%, 40%);
	--blue-fg: hsl(224, 100%, 20%);
	--input-blue-fg: hsl(224, 100%, 30%);
	--btn-dark-bg: hsl(91, 100%, 33%);
	--btn-dark-hover: hsl(91, 100%, 40%);
	--blue-border: 1px solid hsl(224, 100%, 40%);
	--bar-loader-bg: hsl(194, 100%, 53%);
	--btn-height: 48px;
	--border-radius: 8px;
	--light-border-color: hsl(0, 0%, 90%);
	--light-border: 1px solid var(--light-border-color);
	--border-white: 1px solid var(--main-fg);
	--opacity: rgba(0, 0, 0, 0.5);
	--opacity-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
button {
	height: var(--btn-height);
	border-radius: var(--border-radius);
	border: none;
}
html {
	font-family: "Nunito Sans", sans-serif;
}
.modal-loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
}
.modal-loader-bar {
	height: 4px;
	top: 0;
	width: 100%;
	position: fixed;
	transform: translateX(-200%);
}
.loader-bar-active {
	background-color: var(--main-bg);
	transition: transform 0.3s ease-in-out;
	animation: barLoader 1.7s linear infinite;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}
.loader-bar-disabled {
	opacity: 0;
	visibility: hidden;
}
@keyframes barLoader {
	0% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(200%);
	}
}
.navbar {
	width: 100%;
	background-color: var(--main-fg);
	color: var(--main-bg);
	display: flex;
	position: fixed;
	height: 65px;
	top: 0;
	z-index: 997;
	box-shadow: var(--opacity-shadow);
}
.logo {
	padding: 12px;
	display: flex;
	align-items: baseline;
	gap: 4px;
}
.logo i {
	font-size: 28px;
}
.logo h1 {
	font-size: 20px;
}
.navbar :is(ul) {
	visibility: hidden;
}
.burger-menu {
	position: fixed;
	bottom: 4vh;
	right: 4vh;
	background-color: var(--main-bg);
	color: var(--main-fg);
	padding: 12px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 999;
	box-shadow: var(--opacity-shadow);
	transition-property: background-color;
	transition: transform 0.3s ease-in-out;
}
@media (hover: hover) {
	.burger-menu:hover {
		transform: translateY(-8px);
		background-color: var(--btn-hover);
	}
}
.navbar-modal {
	background-color: var(--opacity);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 998;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-modal-content {
	width: 100%;
	text-align: center;
	background-color: var(--main-fg);
	list-style: none;
}
.navbar-modal-content li {
	padding: 12px;
	cursor: pointer;
	color: var(--gray-fg);
	transition: padding 0.3s ease-in-out;
}
@media (hover: hover) {
	.navbar-modal-content li:hover {
		padding: 18px;
		background-color: var(--main-bg);
		color: var(--main-fg);
	}
}
.navbar-modal-content li:first-child {
	border-bottom: var(--light-border);
}
.navbar-modal-disabled {
	visibility: hidden;
	opacity: 0;
}
.navbar-modal-active {
	visibility: visible;
	opacity: 1;
}
main {
	margin-top: 65px;
}
header {
	position: relative;
	background-color: var(--main-bg);
}
header figure {
	height: 90vh;
}
header figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--main-fg);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 20px;
}
header img {
	height: 90vh;
	opacity: 0.5;
	object-fit: cover;
	object-position: center top;
}
header button {
	height: var(--btn-height);
	width: 100%;
	border: none;
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	border-radius: var(--border-radius);
	cursor: pointer;
	margin: 8px 0;
	transition-property: margin, transform;
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	header button:hover {
		background-color: var(--btn-hover);
	}
}
.services {
	color: var(--blue-fg);
}
.services h1 {
	width: 100%;
	padding: 12px 16px;
}
.services ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 16px;
	padding: 0 0 24px 0;
}
.services a {
	text-decoration: none;
	color: var(--blue-fg);
}
@media (hover: hover) {
	.services a:hover {
		text-decoration: underline;
	}
}
.purchases {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-box-bg);
}
.purchases figure {
	width: 100%;
	max-width: 600px;
	padding-bottom: 16px;
}
.purchases figcaption {
	text-align: center;
	background-color: var(--main-box-bg);
	color: var(--main-fg);
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 20px;
}
.purchases button {
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
}
@media (hover: hover) {
	.purchases button:hover {
		background-color: var(--btn-hover);
	}
}
.contacts {
	background-color: var(--blue-fg);
	border-top: var(--border-white);
	color: var(--main-fg);
}
.contacts-content {
	margin: auto;
	padding: 16px 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.contacts-content button {
	width: 80%;
	max-width: 300px;
	margin: 12px 0 0 0;
	background-color: var(--btn-dark-bg);
	color: var(--main-fg);
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	.contacts-content button:hover {
		background-color: var(--btn-dark-hover);
		cursor: pointer;
	}
}
footer {
	padding: 32px 0;
	background-color: var(--main-box-bg);
	color: var(--main-fg);
	border-top: var(--blue-border);
	text-align: center;
	display: flex;
	flex-direction: column;
}
.feedback-container {
	width: 80%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
}
.feedback-container textarea {
	margin-top: 8px;
	border-radius: var(--border-radius);
	border: none;
	padding: 12px;
	background-color: var(--input-blue-fg);
	color: var(--main-fg);
	outline: none;
	resize: none;
	transition: box-shadow 0.3s ease-in-out;
}
textarea:focus {
	box-shadow: var(--opacity-shadow);
}
.feedback-container button {
	margin-top: 16px;
	background-color: var(--btn-dark-bg);
	color: var(--btn-fg);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	.feedback-container button:hover {
		background-color: var(--btn-dark-hover);
	}
}
@media screen and (min-width: 600px) {
	.contacts {
		background-color: var(--blue-fg);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		place-items: center;
	}
	.contacts-content {
		width: 80%;
		max-width: 300px;
		margin: initial;
		padding: 32px 0;
		padding-bottom: 48px;
	}
	.contacts-content button {
		width: 100%;
	}
	.contacts-content:last-child {
		justify-self: left;
	}
	.contacts-content:first-child {
		justify-self: right;
	}
}
@media screen and (min-width: 600px) {
	.services {
		padding: 20px 0;
		text-align: center;
	}
	.services ul {
		flex-direction: row;
	}
	.purchases {
		background-color: var(--main-fg);
		flex-direction: row;
		align-items: baseline;
		padding-bottom: 32px;
	}
	.purchases figcaption {
		background-color: var(--main-fg);
		color: var(--blue-fg);
	}
}
@media screen and (min-width: 800px) {
	header :is(figure, img) {
		height: 50vh;
	}
	.burger-menu {
		display: none;
	}
}
