main {
	margin-top: 65px;
}
header {
	position: relative;
	background-color: var(--main-bg);
}
header figure {
	height: 90vh;
}
header figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--main-fg);
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 20px;
}
header img {
	height: 90vh;
	opacity: 0.5;
	object-fit: cover;
	object-position: center top;
}
header button {
	height: var(--btn-height);
	width: 100%;
	border: none;
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	border-radius: var(--border-radius);
	cursor: pointer;
	margin: 8px 0;
	transition-property: margin, transform;
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	header button:hover {
		background-color: var(--btn-hover);
	}
}
.services {
	color: var(--blue-fg);
}
.services h1 {
	width: 100%;
	padding: 12px 16px;
}
.services ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 16px;
	padding: 0 0 24px 0;
}
.services a {
	text-decoration: none;
	color: var(--blue-fg);
}
@media (hover: hover) {
	.services a:hover {
		text-decoration: underline;
	}
}
.purchases {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-box-bg);
}
.purchases figure {
	width: 100%;
	max-width: 600px;
	padding-bottom: 16px;
}
.purchases figcaption {
	text-align: center;
	background-color: var(--main-box-bg);
	color: var(--main-fg);
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 20px;
}
.purchases button {
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
}
@media (hover: hover) {
	.purchases button:hover {
		background-color: var(--btn-hover);
	}
}
.contacts {
	background-color: var(--blue-fg);
	border-top: var(--border-white);
	color: var(--main-fg);
}
.contacts-content {
	margin: auto;
	padding: 16px 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.contacts-content button {
	width: 80%;
	max-width: 300px;
	margin: 12px 0 0 0;
	background-color: var(--btn-dark-bg);
	color: var(--main-fg);
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	.contacts-content button:hover {
		background-color: var(--btn-dark-hover);
		cursor: pointer;
	}
}
@media screen and (min-width: 600px) {
	.contacts {
		background-color: var(--blue-fg);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		place-items: center;
	}
	.contacts-content {
		width: 80%;
		max-width: 300px;
		margin: initial;
		padding: 32px 0;
		padding-bottom: 48px;
	}
	.contacts-content button {
		width: 100%;
	}
	.contacts-content:last-child {
		justify-self: left;
	}
	.contacts-content:first-child {
		justify-self: right;
	}
}
@media screen and (min-width: 600px) {
	.services {
		padding: 20px 0;
		text-align: center;
	}
	.services ul {
		flex-direction: row;
	}
	.purchases {
		background-color: var(--main-fg);
		flex-direction: row;
		align-items: baseline;
		padding-bottom: 32px;
	}
	.purchases figcaption {
		background-color: var(--main-fg);
		color: var(--blue-fg);
	}
}
@media screen and (min-width: 800px) {
	header :is(figure, img) {
		height: 50vh;
	}
}
