:root {
  --input-focus: hsl(0, 0%, 95%);
  --main-color: rgb(32, 33, 36);
  --light-bg: rgb(244, 244, 244);
  --light-box: white;
  --bars-bg: rgb(124, 176, 244);
  --header-bg: var(--main-color);
  --header-fg: var(--light-bg);
  --btn-height: 48px;
  --btn-bg: rgb(24, 118, 242);
  --btn-hover: hsl(214, 89%, 60%);
  --btn-fg: rgb(255, 255, 255);
  --btn-disabled: hsl(0, 0%, 60%);
  --btn-disabled-hover: hsl(0, 0%, 70%);
  --bar-loader-bg: hsl(194, 100%, 53%);
  --modal-bg: rgba(0, 0, 0, 0.5);
  --burger-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  --burger-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  --border-radius: 16px;
  --light-border-color: hsl(0, 0%, 90%);
  --light-border: 1px solid var(--light-border-color);
  --navbar-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  --navbar-height: 65px;
  --modal-bg: rgba(0, 0, 0, 0.4);
  --modal-content-bg: white;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  --white-card-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
  	0 1px 3px 1px rgba(60, 64, 67, 0.15);
  --reading-fg: rgb(95, 99, 104);
  --benefit-fg: rgb(25, 126, 0);
  --error-fg: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
img {
  width: 100%;
}

html {
  font-family: "Nunito Sans", sans-serif;
  color: var(--main-color);
}

hr {
  color: var(--light-bg);
}

.select-disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html .hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  html {
    background-color: rgb(245, 245, 245);
  }
  footer {
    background-color: rgb(245, 245, 245);
  }
  h1 {
    text-align: center;
    padding-bottom: 16px;
  }
}
@keyframes barLoader {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(12%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.modal-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.modal-loader-bar {
  height: 4px;
  top: 0;
  width: 100%;
  position: fixed;
  transform: translateX(-200%);
  animation: barLoader 1.7s linear infinite;
}

.loader-bar-active {
  background-color: var(--main-color);
  transition: transform 0.3s ease-in-out;
}

button,
button a {
  width: 100%;
  height: var(--btn-height);
}

button {
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

button a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--btn-fg);
}

.btn-disabled {
  background-color: var(--btn-disabled);
  cursor: not-allowed;
}

@media (hover: hover) {
  button.btn-disabled:hover {
    background-color: var(--btn-disabled-hover);
  }
  button:hover {
    background-color: var(--btn-hover);
  }
  .ancle-btn:hover {
    color: var(--btn-hover);
  }
}
.ancle-btn {
  display: block;
  text-align: right;
  margin: 12px 0;
  color: var(--btn-bg);
  text-decoration: none;
  width: fit-content;
  margin-left: auto;
  transition: color 0.3s ease-in-out;
}

.simple-btn {
  display: block;
  margin: 4px 0;
  text-align: center;
  color: var(--btn-bg);
}

.simple-btn a {
  cursor: pointer;
  text-decoration: none;
}

.simple-btn a:visited {
  color: inherit;
}

html {
  background-color: var(--light-bg);
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  border-bottom: var(--light-border);
}

aside {
  width: 100%;
  padding: 12px 24px;
}

aside li {
  list-style: none;
  cursor: pointer;
  padding: 24px 0;
  padding-left: 16px;
  padding-right: 8px;
  height: 40px;
  font-weight: bold;
  font-size: 0.95;
  color: rgb(132, 132, 132);
  border-radius: var(--border-radius);
  transition-property: background-color;
  transition: 0.7s ease-in-out;
  display: flex;
  align-items: center;
}

@media (hover: hover) {
  aside li:hover:not(.aside-active) {
    background-color: hsl(214deg, 89%, 92%);
    color: hsl(214deg, 89%, 50%);
  }
}
aside li:not(:last-child) {
  margin: 2px 0;
}

.aside-active {
  background-color: hsl(214deg, 89%, 92%);
  color: hsl(214deg, 89%, 50%);
}

.logo {
  padding: 12px;
  padding-bottom: 0;
  display: flex;
  align-items: baseline;
  gap: 4px;
  flex-grow: 1;
  color: var(--btn-bg);
}

.logo h1 {
  font-size: 1.1rem;
  margin: 0;
  padding-bottom: 0;
  padding-left: 6px;
  text-align: left;
  width: fit-content;
  cursor: pointer;
}

.group-control {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.group-control span {
  color: var(--btn-disabled);
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logout {
  cursor: default;
}

.logout span {
  cursor: pointer;
  color: var(--btn-bg);
}

span.group-control-active,
.group-control span:active {
  color: var(--btn-bg);
}

nav {
  background-color: var(--light-box);
}

main {
  margin-top: 77px;
}

.welcome {
  max-height: 85px;
  padding: 16px;
  padding-left: 20px;
  background-color: var(--light-box);
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
}

.welcome img {
  width: 48px;
  border-radius: 50%;
}

.welcome figcaption {
  display: flex;
  align-items: center;
}

.welcome h1 {
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 0;
}

.account {
  width: 90%;
  margin: 12px auto 0 auto;
  border-radius: var(--border-radius);
  background-color: var(--light-box);
  padding: 16px;
  padding-bottom: 0;
  box-shadow: var(--box-shadow);
  max-width: 340px;
}

.account-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.account-data h2,
.account-balance span {
  font-size: 1.5em;
}

.account-data h2 {
  padding-bottom: 8px;
}

.account-balance {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.account-balance span {
  width: fit-content;
  margin-left: auto;
  color: var(--btn-bg);
  cursor: pointer;
}

.account-balance small {
  margin-top: 20px;
}

.group-btn {
  margin-top: 40px;
}

.simple-btn {
  height: var(--btn-height);
  padding-top: 8px;
  margin-bottom: 0;
}

.simple-btn small {
  width: fit-content;
  cursor: pointer;
  padding: 8px;
}

.account:last-child {
  grid-column: 1/-1;
  max-width: 400px;
}

.finances-data {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard {
  width: 90%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-box);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 16px;
  margin: auto;
}

.plano {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: start;
  border-radius: var(--border-radius);
}

.dashboard h3 {
  margin-bottom: 8px;
}

.plano-cash {
  width: max-content;
  padding-left: 4px;
}

.plano-cash::after {
  content: "";
  position: absolute;
  height: 118px;
  margin-left: 8px;
  border: var(--light-border);
}

.plano-cash small {
  font-size: 0.5rem;
}

.plano-bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-left: 8px;
  padding-left: 8px;
}

.plano-bars-group {
  max-width: 30px;
  height: 22vh;
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plano-months {
  background-color: var(--bars-bg);
  height: 100%;
  border-radius: 4px;
}

.plano-bars-group:nth-child(1) {
  height: 100%;
}

.plano-bars-group:nth-child(2) {
  height: 40%;
}

.plano-bars-group:nth-child(3) {
  height: 50%;
}

.plano-bars-group:nth-child(4) {
  height: 30%;
}

.plano-bars-group:nth-child(5) {
  height: 40%;
}

.plano-bars-group:nth-child(2) {
  height: 80%;
}

.month-finances {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 20px;
  max-width: 350px;
}

.month-finances-title {
  padding-left: 12px;
  grid-column: 1/-1;
  text-align: center;
  padding-right: 12px;
  margin-top: 6px;
}

.month-finances > div {
  padding: 12px 16px;
  background-color: var(--light-box);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.month-finances small {
  font-weight: bold;
  color: rgb(85, 85, 85);
}

@media screen and (min-width: 350px) {
  .welcome {
    display: flex;
    gap: 12px;
  }
}
@media screen and (min-width: 500px) {
  .dashboard,
  .account {
    max-width: 350px;
  }
  .plano-cash small {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 750px) {
  div.next-account {
    display: block;
  }
  .accounts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, auto));
    gap: 24px;
    place-content: center;
    place-items: center;
  }
}
@media screen and (min-width: 950px) {
  html {
    background-color: var(--light-box);
  }
  .account,
  .dashboard,
  .month-finances div {
    box-shadow: var(--white-card-shadow);
  }
  .month-finances,
  .dashboard {
    width: 100%;
  }
  .app {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .welcome {
    margin: 0;
    flex-grow: 1;
    grid-column: 1/-1;
  }
  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60px;
    place-content: center;
    padding: 0 20px;
  }
  .logo {
    text-align: left;
  }
  .logout {
    width: 100%;
    text-align: right;
  }
  main {
    margin-top: 60px;
    display: flex;
  }
  .group-control {
    display: none;
  }
  .accounts {
    grid-column: 1/-1;
  }
  a.logout {
    display: block;
    padding: 12px;
  }
  aside.aside {
    min-width: 200px;
    width: 15%;
    display: block;
  }
  .month-finances {
    max-width: 250px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
  .month-finances div:last-child {
    margin-top: 8px;
  }
  .finances-data {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-top: 4px;
    padding-left: 3rem;
    padding-top: 1.8rem;
  }
  .dashboard {
    margin: 0;
  }
}
@media screen and (min-width: 1350px) {
  .accounts {
    display: flex;
    padding: 0 32px;
  }
  .account:last-child {
    grid-column: auto;
  }
}

/*# sourceMappingURL=panel.css.map */
