:root {
  --input-focus: hsl(0, 0%, 95%);
  --main-color: rgb(0, 24, 77);
  --light-bg: rgb(245, 245, 245);
  --light-box: white;
  --header-bg: var(--main-color);
  --header-fg: var(--light-bg);
  --btn-height: 48px;
  --btn-bg: hsl(250, 100%, 69.4%);
  --btn-fg: rgb(255, 255, 255);
  --btn-hover: hsl(250.2, 94.2%, 73.1%);
  --btn-disabled: hsl(0, 0%, 60%);
  --btn-disabled-hover: hsl(0, 0%, 70%);
  --btn-ancle-bg: hsl(224, 100%, 40%);
  --btn-ancle-hover: hsl(224, 100%, 60%);
  --bar-loader-bg: hsl(194, 100%, 53%);
  --modal-bg: rgba(0, 0, 0, 0.5);
  --border-radius: 8px;
  --light-border-color: hsl(0, 0%, 90%);
  --light-border: 1px solid var(--light-border-color);
  --navbar-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  --navbar-height: 65px;
  --benefit-fg: rgb(25, 126, 0);
  --error-fg: red; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
img {
  width: 100%; }

html {
  font-family: "Nunito Sans", sans-serif;
  color: var(--main-color); }

hr {
  color: var(--main-fg); }

.select-disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

html .hidden {
  display: none; }

@media screen and (min-width: 600px) {
  html {
    background-color: whitesmoke; }

  footer {
    background-color: whitesmoke; }

  h1 {
    text-align: center;
    padding-bottom: 16px; } }
.navbar {
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--light-box);
  color: var(--light-fg);
  border: var(--light-border);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 997; }

.navbar ul {
  display: none;
  align-items: center;
  list-style: none;
  height: 100%; }

.navbar li {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 100%; }

.navbar a {
  text-align: center;
  text-decoration: none;
  color: var(--blue-fg); }

@media (hover: hover) {
  .navbar li > a:hover {
    text-decoration: underline; } }
.logo {
  padding: 12px;
  display: flex;
  align-items: baseline;
  gap: 4px;
  flex-grow: 1;
  color: var(--blue-fg); }

.logo i {
  font-size: 24px; }

.logo h1 {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 0;
  padding-bottom: 0; }

.logo i {
  margin: auto 0; }

@media screen and (min-width: 800px) {
  .navbar {
    padding: 0 32px; }

  .navbar :is(ul) {
    display: flex; } }
.burger-menu {
  position: fixed;
  bottom: 4vh;
  right: 4vh;
  background-color: var(--main-bg);
  color: var(--main-fg);
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  box-shadow: var(--opacity-shadow);
  transition-property: background-color;
  transition: transform 0.3s ease-in-out;
  animation: showUp 0.3s ease-in-out; }

@media (hover: hover) {
  .burger-menu:hover {
    transform: translateY(-8px);
    background-color: var(--btn-hover); } }
.navbar-modal {
  background-color: var(--opacity);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center; }

.navbar-modal-content {
  width: 100%;
  text-align: center;
  background-color: var(--main-fg);
  list-style: none; }

.navbar-modal-content li {
  height: 100%;
  padding: 12px 0;
  cursor: pointer;
  color: var(--gray-fg); }

.navbar-modal-content a {
  padding: 12px 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--main-bg);
  display: block;
  transition: padding 0.3s ease-in-out; }

@media (hover: hover) {
  .navbar-modal-content a:hover {
    padding: 18px;
    text-decoration: underline; } }
.navbar-modal-content :is(li:first-child, li:nth-child(2)) {
  border-bottom: var(--light-border); }

.navbar-modal-disabled {
  visibility: hidden;
  opacity: 0; }

@media screen and (min-width: 800px) {
  .navbar-modal {
    display: none; }

  .burger-menu {
    display: none; } }
@keyframes barLoader {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(200%); } }
@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(12%); }
  to {
    opacity: 1;
    transform: translateY(0%); } }
.modal-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999; }

.modal-loader-bar {
  height: 4px;
  top: 0;
  width: 100%;
  position: fixed;
  transform: translateX(-200%);
  animation: barLoader 1.7s linear infinite; }

.loader-bar-active {
  background-color: var(--main-bg);
  transition: transform 0.3s ease-in-out; }

button,
button a {
  width: 100%;
  height: var(--btn-height); }

button {
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer; }

button a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--btn-fg); }

.btn-disabled {
  background-color: var(--btn-disabled);
  cursor: not-allowed; }

@media (hover: hover) {
  button.btn-disabled:hover {
    background-color: var(--btn-disabled-hover); } }
.ancle-btn {
  display: block;
  text-align: right;
  margin: 12px 0;
  color: var(--btn-bg);
  text-decoration: none;
  width: fit-content;
  margin-left: auto;
  transition: color 0.3s ease-in-out; }

.advices-container {
  display: none;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-box);
  padding: 40px; }

.advices-container figure {
  margin-top: var(--navbar-height); }

.advices-container img {
  max-width: 260px;
  display: none; }

.advices-container h4 {
  margin: 12px 0; }

.advices-container li:not(:first-child) {
  margin: 12px 0; }

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.login-form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 32px; }

.login-form fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 12px; }

.login-form input:nth-child(2) {
  margin-top: 12px; }

.login-form input {
  border: var(--light-border);
  border-radius: var(--border-radius);
  padding: 12px; }

.login-form button {
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  transition: background-color 0.3s ease-in-out; }

@media (hover: hover) {
  .login-form button:hover {
    background-color: var(--btn-hover); }

  .login-form a:hover {
    text-decoration: underline; } }
.forget-group {
  display: flex;
  flex-direction: column; }

.forget-group a {
  text-decoration: none;
  color: var(--main-bg); }

@media screen and (min-width: 600px) {
  .login-form {
    width: 80%;
    border: var(--light-border); } }
@media screen and (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    background-color: whitesmoke; }

  main .login-form {
    background-color: white; }

  .advices-container {
    display: flex; } }
@media screen and (min-width: 1200px) {
  .advices-container img {
    display: block; } }

/*# sourceMappingURL=virtual.css.map */
