.advices-container {
	display: none;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--light-box);
	padding: 40px;
}
.advices-container figure {
	margin-top: var(--navbar-height);
}
.advices-container img {
	max-width: 260px;
	display: none;
}
.advices-container h4 {
	margin: 12px 0;
}
.advices-container li:not(:first-child) {
	margin: 12px 0;
}
