nav {
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	border-bottom: var(--light-border);
}
nav a,
aside a {
	text-decoration: none;
	color: inherit;
}
aside {
	width: 100%;
	padding: 12px 24px;
}
aside a {
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	padding: 16px;
	display: flex;
	align-items: center;
}
aside li {
	list-style: none;
	cursor: pointer;
	height: 48px;
	font-weight: bold;
	font-size: 0.95;
	color: rgb(132, 132, 132);
	border-radius: var(--border-radius);
	transition-property: background-color;
	transition: 0.7s ease-in-out;
	display: flex;
	align-items: center;
}
@media (hover: hover) {
	aside li:hover:not(.aside-active) {
		background-color: hsl(214, 89%, 92%);
		color: hsl(214, 89%, 50%);
	}
}
aside li:not(:last-child) {
	margin: 2px 0;
}
.aside-active {
	background-color: hsl(214, 89%, 92%);
	color: hsl(214, 89%, 50%);
}
.logo {
	padding: 12px;
	padding-bottom: 0;
	display: flex;
	align-items: baseline;
	gap: 4px;
	flex-grow: 1;
	color: var(--btn-bg);
}

.logo h1 {
	font-size: 1.1rem;
	margin: 0;
	padding-bottom: 0;
	padding-left: 6px;
	text-align: left;
	width: fit-content;
	cursor: pointer;
}

.group-control {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
}

.group-control span {
	color: var(--btn-disabled);
	width: fit-content;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.logout {
	cursor: default;
}
.logout span {
	cursor: pointer;
	color: rgb(132, 132, 132);
	transition: color 0.3s ease-in-out;
}
@media (hover: hover) {
	.logout span:hover {
		color: var(--btn-hover);
	}
}
span.group-control-active,
.group-control span:active {
	color: var(--btn-bg);
}
nav {
	background-color: var(--light-box);
}
@media screen and (min-width: 950px) {
	html {
		background-color: var(--light-box);
	}
	nav {
		display: flex;
		flex-direction: row;
	}
	.logo {
		width: 100%;
	}
	.logo {
		text-align: left;
	}
	.logout {
		width: 100%;
		text-align: right;
	}
	main {
		margin-top: 60px;
		display: flex;
	}
	.group-control {
		display: none;
	}

	a.logout {
		display: block;
		padding: 12px;
	}
	aside.aside {
		min-width: 200px;
		width: 15%;
		display: block;
	}

	nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: 60px;
		place-content: center;
		padding: 0 20px;
	}
	.logo {
		text-align: left;
	}
	.logout {
		width: 100%;
		text-align: right;
	}
}
