.modal-loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 999;
}
.modal-loader-bar {
	height: 4px;
	top: 0;
	width: 100%;
	position: fixed;
	transform: translateX(-200%);
	animation: barLoader 1.7s linear infinite;
}
.loader-bar-active {
	background-color: var(--main-color);
	transition: transform 0.3s ease-in-out;
}
