@import "var.scss";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
img {
	width: 100%;
}
html {
	font-family: "Nunito Sans", sans-serif;
	color: var(--main-color);
}
hr {
	color: var(--light-bg);
}
.select-disabled {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
html .hidden {
	display: none;
}
@media screen and (min-width: 600px) {
	html {
		background-color: rgb(245, 245, 245);
	}
	footer {
		background-color: rgb(245, 245, 245);
	}
	h1 {
		text-align: center;
		padding-bottom: 16px;
	}
}
