:root {
	--input-focus: hsl(0, 0%, 95%);
	--main-color: rgb(0, 24, 77);
	--light-bg: rgb(245, 245, 245);
	--light-box: white;

	--header-bg: var(--main-color);
	--header-fg: var(--light-bg);

	--btn-height: 48px;
	--btn-bg: hsl(250, 100%, 69.4%);
	--btn-fg: rgb(255, 255, 255);
	--btn-hover: hsl(250.2, 94.2%, 73.1%);

	--btn-disabled: hsl(0, 0%, 60%);
	--btn-disabled-hover: hsl(0, 0%, 70%);

	--btn-ancle-bg: hsl(224, 100%, 40%);
	--btn-ancle-hover: hsl(224, 100%, 60%);

	--bar-loader-bg: hsl(194, 100%, 53%);
	--modal-bg: rgba(0, 0, 0, 0.5);

	--border-radius: 8px;
	--light-border-color: hsl(0, 0%, 90%);
	--light-border: 1px solid var(--light-border-color);

	--navbar-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
	--navbar-height: 65px;

	--benefit-fg: rgb(25, 126, 0);
	--error-fg: red;
}
