:root {
	--input-focus: hsl(0, 0%, 95%);
	--main-color: rgb(32, 33, 36);
	--light-bg: rgb(244, 244, 244);
	--light-box: white;
	--bars-bg: rgb(124, 176, 244);

	--loader-bar-fg: rgb(24, 118, 242);

	--header-bg: var(--main-color);
	--header-fg: var(--light-bg);

	--btn-height: 48px;
	--btn-bg: rgb(24, 118, 242);
	--btn-hover: hsl(214, 89%, 60%);
	--btn-fg: rgb(255, 255, 255);

	--btn-disabled: hsl(0, 0%, 60%);
	--btn-disabled-hover: hsl(0, 0%, 70%);

	--bar-loader-bg: hsl(194, 100%, 53%);
	--modal-bg: rgba(0, 0, 0, 0.5);
	--burger-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
	--burger-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

	--border-radius: 16px;
	--light-border-color: hsl(0, 0%, 90%);
	--light-border: 1px solid var(--light-border-color);

	--navbar-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
	--navbar-height: 65px;

	--modal-bg: rgba(0, 0, 0, 0.4);
	--modal-content-bg: white;

	--box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	--white-card-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
		0 1px 3px 1px rgba(60, 64, 67, 0.15);

	--reading-fg: hsl(216, 4%, 23%);

	--benefit-fg: rgb(25, 126, 0);
	--error-fg: red;
}
